@import 'vars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  /*font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,*/
  font-family: 'Sdfortimburtondemo', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--m);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: var(--vt-c-black);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--vt-c-indigo);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--vt-c-black-mute);
}

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow-x: clip;

  #main-content {
    &:before {
      content: '';
      width: 120%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 100px;
      opacity: .08;
      background: url('@/assets/images/other/scratch.png') repeat center center;
      animation: scratch 0.45s steps(1) infinite;

      @keyframes scratch {
        0%, 100% {
          transform: translateX(0);
          opacity: 0.075;
        }

        10% {
          transform: translateX(-1%);
        }

        20% {
          transform: translateX(1%);
        }

        30% {
          transform: translateX(-2%);
          opacity: 0.09;
        }

        40% {
          transform: translateX(3%);
        }

        50% {
          transform: translateX(-3%);
          opacity: 0.05;
        }

        60% {
          transform: translateX(8%);
        }

        70% {
          transform: translateX(-3%);
        }

        80% {
          transform: translateX(10%);
          opacity: 0.02;
        }

        90% {
          transform: translateX(-2%);
        }
      }
    }

    &:after {
      content: '';
      width: 105%;
      height: 105%;
      position: absolute;
      top: 0;
      left: -5%;
      opacity: .11;
      background: url('@/assets/images/other/grain.jpg') repeat repeat;
      background-size: 100%;
      animation: grain 2s steps(1) infinite;

      @keyframes grain {
        0%, 100% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(180deg);
        }
      }
    }

    main {
      min-height: calc(100vh - var(--navbar-size) - var(--section-top));
      z-index: 1;
      width: var(--lg);
      margin: var(--section-top) auto auto auto;
      padding-bottom: var(--section-bottom);
      @media (width <= $lg) {
        width: var(--md);
      }
    }
  }
}

a {
  &, &:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  &.router-link-exact-active {
    color: var(--vt-c-white);
  }
}


.form {
  .form-group {
    &:not(:first-child) {
      margin-top: 30px;
    }

    input, textarea {
      background-color: var(--vt-gray-black);
      border: none;
      width: 100%;
      min-height: 40px;
      padding-left: 10px;
      resize: vertical;
      color: var(--vt-c-white);
    }

    textarea {
      padding-top: 10px;
    }

    input[type=submit] {
      cursor: pointer;
    }

    .submit {
      border: none;
      color: var(--color-submit-text);
      height: 40px;
      min-width: 150px;
      background-color: var(--vt-gray-black);
      cursor: pointer;
    }
  }
}

b {
  font-weight: bold;
}
