@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import "medium-editor/dist/css/medium-editor.css";
@import 'highlight.js/styles/github.css';

@font-face {
  font-family: Sdfortimburtondemo;
  src: url(@/assets/fonts/Sdfortimburtondemo-ALoW2.ttf);
}

$lg: 1280px;
$md: 720px;
$sm: 428px;

:root {
  //screen sizes
  --lg: #{$lg};
  --md: #{$md};
  --sm: #{$sm};

  //font size
  --size-xl: 22px;
  --size-l: 20px;
  --size-m: 16px;
  --size-s: 14px;

  // component margin
  --section-top: 50px;
  --section-bottom: 100px;

  // navbar size
  --navbar-size: 60px;

  //colors
  --vt-c-black-soft: #222222;
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-indigo: #15252d;
  --vt-c-black-mute: #282828;
  --vt-gray-black: #292a2c;
  --vt-c-divider-dark-2: #5454547A;
  --vt-c-divider-dark-1: #545454A5;
  --vt-c-text-dark-2: #4F4F50FF;
  --vt-c-submit: #636464;
  --vt-c-orange: #dd4c39;

  //global color set
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --color-submit-text: var(--vt-c-submit);
  --color-scroll: #22222294;
  --color-alert: var(--vt-c-orange)
}
